.table-wrapper{
    width: 1000px;
    margin: 40px auto;

}

.table-title {
    text-align: center;
    padding: 20px 0;
}

table {
width: 100%;
}

th.mat-sort-header-sorted {
color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}